<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="Navegador" value="chrome"></parameter>
  <test thread-count="5" name="Test">
  	<groups>
  		<run>
  			<include name="grupoMenor9"></include>
  			<include name="grupoMenor15"></include>
  		</run>
  	</groups>
    <classes>
      <class name="ActividadDespegar.ActividadDespegar"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
